*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #bba694;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

section{
    position: relative;
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

/*Header*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #ffffd5;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    background: #9b7239;
    padding: 0 10px;
    font-family: 'lora', serif;
    font-weight: 600;
}

header .navBar{
    position: relative;
    display: flex;
}

header .navBar li{
    list-style: none;
    margin-left: 30px;
}

header .navBar li a{
    text-decoration: none;
    color: #9b7239;;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}

header .navBar li a:hover{
    color: #ffffd5;
}

/*Contenido*/
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;

}

.container .tituloBox{
    position: relative;
    max-width: 600px;
    
}

.container .tituloBox  h2{
    font-size: 4.5em;
    text-transform: uppercase;
    color: #7a551c;
    line-height: 1.2;
}

.container .tituloBox h2 span
{
    background: #9b7239;
    color: #ffffd5;
    padding: 0 10px;
    font-family: 'lora', serif;
    font-weight: 600;
}

.container .tituloBox p{
    font-size: 1.8em;
    line-height: 1.5;
    color: #7a551c;
    font-family: 'lora', serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.container .tituloBox a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffd5;
    background: #7a551c;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.container .tituloBox a:hover{
    color: #7a551c;
    background: #ffffd5;
}

.container .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
}

.container .imgBox img{
    width: 480px;
}

/*Circulo*/
.circulo{
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translateY(200px); */
    background: #9b7239;
    clip-path: circle(650px at right 750px);
    width: 100%;
    height: 100%;
    
}

.copyright{
    position: absolute;
    bottom: 0;
    left: 800px;
    margin-bottom: 20px;
    padding: 0 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.copyright p{
    color: #ffffd5;
}

/*Redes sociales*/
.redes-sociales{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}

.redes-sociales li{
    padding: 10px;
}

.redes-sociales li a{
    color: #ffffd5;
    font-size: 1.5em;
    transition: 0.3s;
}

.redes-sociales li a:hover{
    color: #7a551c;
}

/* Breakpoints - Media Queries */
@media only screen and (max-width:1200px){
    .container .tituloBox h2{
        font-size: 3.5em;
    }

    .copyright{
        left: 500px;
    }

}

    /*Laptops*/
@media screen and (max-width: 992px){
    section{
        padding: 80px;
        
    }

    header{
        padding: 40px 80px;
    }

    .container{
        top: 50px;
    }

    .container .tituloBox h2{
        font-size: 3em;
    }

    .container .tituloBox a{
        margin-left: 0px;
    }

    .container .imgBox{
        width: 400px;
    }

    .container .imgBox img{
        width: 400px;
    }

    .circulo{
        clip-path: circle(550px at right 750px);
        
    }

    .copyright{
        left: 400px;
        /* bottom: -50px; */
    }

    .redes-sociales{
        /* bottom: -45px; */
    }

}

/*Tablets*/

@media screen and (max-width: 768px){
    section{
        padding: 40px
    }

    header{
        padding: 30px 40px;
    }

    header .navBar{
        display: none;
    }

    header .navBar.active{
        width: 100%;
        height: calc(100% - 40px);
        position: fixed;
        top: 80px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #bba694;
        z-index: 1;
    }

    header .navBar li a{
        font-size: 1.2em;
        line-height: 2;
    }

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background: url(assets/menu-bars.svg);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;    
        
    }

    .menuToggle.active{
        background: url(assets/menu-close.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }    

   
    .container{
        flex-direction: column;
        gap: 70px;
    }

    .container .tituloBox{
        text-align: center;
    }

    .container .tituloBox h2{
        font-size: 2em;
    }
    

    .container .tituloBox p{
        font-size: 1.5em;
    }

    .container .imgBox{
        width: 450px;
    }

    .container .imgBox img{
        width: 350px;
        padding-right: 50px;
        margin-top: 0;
    }

    .circulo{
        clip-path: circle(400px at center bottom);
    }

    .copyright{
        left: 0;
    }

}

@media screen and (max-width: 400px){
    section{
        padding: 30px;
    }

    header .logo{
        font-size: 1.5rem;
    }

    .container{
        padding-left: 0px;

    }

    .redes-sociales{
        left: 35%;
        /* transform: translateY(20px); */
        padding: 0px;
    }

    /* .copyright{
        transform: translateY(20px);
    }

    .circulo{
        display: none;
    }

    .redes-sociales{
        width: 20px;
    } */
}